@mixin for-phone-only {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

.edit-blog-view {
    .main-section {
        max-width: 1100px;
    }

    .option {
        &.inactive {
            opacity: 0.3;
        }
    }

    @include for-phone-only() {
        .main-section {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }

    .blog-content {
        grid-area: 1 / 1 / 2 / 4;
    }

    .side-content {
        grid-area: 1 / 4 / 2 / 5;
        padding-top: 125px;
        border-left: 0.5px solid grey;
        padding-left: 10px;

        button {
            display: block;
            margin-top: 1em;

            &:first-child {
                margin-top: 0;
                ;
            }
        }
    }

    .quill .ql-container.ql-snow {
        .ql-editor {
            h1 {
                font-size: 64px;
            }
        }

        font-size: 1em;
    }
}