
.index-view {
    .headline {
        display: inline-block;
        margin: 15% auto 10%;
        font-size: 84px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        div {
            text-align: center;
        }

        ul {
            list-style-type: none;
        }

        li {
            margin-bottom: 1em;
        }
    }

    // .section {
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;

    //     .content {
    //         height: 100%;
    //         flex-grow: 1;
    //     }
    // }
}