
.search-result-view {
    .main-section {
        display: block;
    }

    .item {
        list-style: none;
        margin-bottom: 0.5em;
        margin-left: 0;

        &-title {
            display: inline-block;
            margin: 0 0.15em 0 0;
            font-weight: normal;
        }
    }
}